@import "variables";
@import "config";

body {
  font-size: 2rem;
}
.header {
  box-shadow: 0 0 20px #d9d9d9;
  height: 100px;
  background: $color-light;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-top {
    height: 30%;
    font-size: 0.9rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icons a i,
    .adress i,
    .lang i {
      padding: 0 0.5rem;
    }
  }
  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 60%;
    position: relative;
    .nav-list {
      justify-content: center;
      align-items: center;
      display: flex;
      height: 70px;
      cursor: pointer;
      li:hover {
        background: $color-mid;
      }
      &-item {
        position: relative;
        font-size: 1.5rem;
        padding: 1rem 1rem;
        margin: 0 3.5rem;

        .drop-menu {
          z-index: 2;
          display: none;
          position: absolute;
          top: 68px;
          left: 0px;
          font-size: 1.5rem;
          width: 250px;
          background: $color-light;
          li {
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60px;
          }
        }
      }
    }
  }
}
.front {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .slider {
    z-index: -5;
    height: 100%;
    width: 100%;
    background: url(../img/nail-polish-on-white-background-3609620.jpg) center center/cover;
    // background: url(../img/selective-focus-photography-of-assorted-polished-artificial-2624853.jpg) center center/cover;
  }
  .calendar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
      position: relative;
      .icon-close {
        position: absolute;
        top: 20px;
        right: 20px;
      }
      border-radius: 15px;
      z-index: 11;
      height: 620px;
      width: 500px;
      background: $color-light;
      padding: 2rem 4rem;
      #form {
        label {
          font-size: 1.3rem;
          margin-bottom: 0.2rem;
        }
        input {
          border: none;
          border-radius: 5px;
          padding: 0.3rem 0.3rem;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
        input:focus {
          box-shadow: 0 0 5px #999;
        }
        display: flex;
        flex-direction: column;
        width: 100%;
        .calendar-selector {
          display: flex;
          .date {
            border: 1px solid #333;
            width: 75%;
            height: 300px;
          }
          .time {
            width: 25%;
            height: 300px;
            background: green;
          }
        }
        .btn-submit {
          width: 70%;
          margin: 1rem auto;
          color: #fff;
          background: $color-dark;
        }
      }
    }
  }
  .buttons {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-appointment {
    // box-shadow: 0 0px 5px #999;
    position: absolute;
    bottom: 300px;
    font-size: 1.2rem;
    background: $color-black;
    color: #fff;
  }
  .btn-appointment:hover {
    background: #555;
    transition: background 0.2s ease;
  }
}
