@import "variables";
.time__block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;

	input {
		display: none;
	}

	label {
		cursor: pointer;
		padding: 0.5rem 1rem;
		border-radius: 15px;
		border: 1.5px solid #ccc;
		font-size: 1.1rem;
	}

	input:checked + label {
		background: $color-primary;
		color: $color-white;
		font-weight: $font-bold;
		border: none;
		transform: scale(1.1);
		box-shadow: 0px 5px 10px rgba(184, 184, 184, 0.5);
	}
}

.time__block:hover {
	label {
		transition: 0.2s;
		transform: scale(1.1);
		box-shadow: 0px 5px 10px rgba(184, 184, 184, 0.5);
	}
}
