@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #222;
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 3px;
}

// Offset from header (absolute) height
section {
	padding-top: 100px;
	overflow: hidden;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
