@import "variables";
.portfolio--section {
	padding-top: 100px;
}

.item--list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3px;
}

@media (min-width: 736px) {
	.item--list {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
		padding: 2rem 1rem;
	}
}
@media (min-width: 1000px) {
	.item--list {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		padding: 3rem 7rem;
	}
}
