@import "variables.scss";

.navbar {
	display: flex;
	justify-content: space-around;
	width: 40%;
	margin: auto;
	margin-top: 1rem;
}

.navbar--item {
	padding: 0.6rem 1rem;
}

.navbar a {
	position: relative;
	z-index: 1;
	transition: all 0.5s;
}

.navbar a:hover {
	color: $color-grey;
}

.navbar a:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	content: ".";
	color: transparent;
	background: $color-primary;
	visibility: none;
	opacity: 0;
	z-index: -1;
	transition: all 0.5s;
}

.navbar a:hover:after {
	opacity: 1;
	visibility: visible;
	height: 100%;
}
