.header {
	background: #fcfcfc;
	box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.05);
	position: absolute;
	left: 0;
	right: 0;
	height: 100px;
}
.navbar--flex {
	display: flex;
	justify-content: center;
}

.ant-menu-item,
.ant-menu-submenu-title {
	padding: 1rem;
}

.header__top {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-top: 0.5rem;
	border-bottom: 1px solid #ededed;
}

.header__top-social {
	display: flex;
	align-items: center;
}

.header__top-social span {
	padding: 0 5px;
}

.center {
	display: flex;
	justify-content: center;
}
